*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: Nunito sans-serif;
    font-size: 12px;
}

.body.open{
    overflow: hidden;
}

.line{
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 5px;
}

.hamburger{
    position: absolute;
    top: 3%;
    right: 5%;
    transform: translate(-5%, -3%);
    cursor: pointer;
    z-index: 3;
}

.nav-bar{
    max-width: 100%;
    height: 10vh;
}

.nav{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav{
    display: flex;
    height: 100%;
    background-color: black;
    border-bottom: 1px solid white;
}

.nav-links{
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: 1s ease-out;
    background-color: black;
    pointer-events: none;
}

.nav-links.open{
  clip-path: circle(2400px at 90% -10%);
  -webkit-clip-path: circle(2400px at 90% -10%);
  pointer-events: all;
  
}

header{
    height: 25vh;
}


header h1{
    margin: 10px;
    margin-left: 60px;
    font-size: 2rem;
}

.name{
    margin-top: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mobile{
    font-size: 1.75rem;
    margin-top: 100px;
}

p{
    margin: 10px 15px;
    font-size: 1rem;
}