*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
    font-family: Nunito sans-serif;
    font-size: 12px;
}

.body.open{
    overflow: hidden;
}

.line{
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 5px;
}

.hamburger{
    position: absolute;
    top: 3%;
    right: 5%;
    transform: translate(-5%, -3%);
    cursor: pointer;
    z-index: 3;
}

.nav-bar{
    max-width: 100%;
    height: 10vh;
}

.nav{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav{
    display: flex;
    height: 100%;
    background-color: black;
    border-bottom: 1px white solid;
}

.nav-links{
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: 1s ease-out;
    background-color: black;
    pointer-events: none;
}

.nav-links.open{
  clip-path: circle(2400px at 90% -10%);
  -webkit-clip-path: circle(2400px at 90% -10%);
  pointer-events: all;
  
}

main{
    height: 85vh;
}

header{
    line-height: 40px;
    margin-top: 50px;
    margin-left: 60px;
}

header h1{
    font-size: 2.5rem;
}

header p{
    font-size: 1.25rem;
    color: rgb(163, 163, 163);
    line-height: 15px;
}

.splash{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.splash h3{
    color: rgb(172, 172, 172);
    font-size: 1.75rem;
    
}



.cta{
    background: white;
    color: black;
    border-radius: 30px;
    border-color: red;
    letter-spacing: 3px;
    font-size: 1.25rem;
}

.projects h2{
    font-size: 1.75rem;
    margin-left: 60px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "img img"
    "code project"
    "description description"
    "text text"
    ;
}

.title{
    grid-area: title;
}

img{
    grid-area: img;
    margin: auto;
}

.code{
    grid-area: code;
}

.view{
    grid-area: project;
}

.description{
    grid-area: description;
    margin-left: 15px;
}

.text{
    grid-area: text;
    grid-column: 1 / span 2;
    margin: 10px 15px;
}



.box h3{
    color: rgba(255, 0, 0, 0.308);
    margin-top: 25px;
}

.title{
    margin-bottom: 10px;
    margin-left: 30px;
}

button{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    letter-spacing: 2px;
    border-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}




img{
    background: white;
    height: 200px;
    width: 300px;
}


